.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    font: 1em Helvetica, arial, sans-serif;
}
.wrapper > * {
    border: 2px solid #f08c00;
    background-color: #ffec99;
    border-radius: 5px;
    padding: 10px;
}
/* using grid-template-areas to create the layout */
.main-head {
  grid-area: header;
  text-align: center;
}
.gridpanel {
  grid-area: gridpanel;
}
.instructpanel {
  grid-area: instructpanel;
}
.controlpanel {
  grid-area: controlpanel;
}
.main-footer {
  grid-area: footer;
  text-align: center;
}
/* set up the layout for the mobile width */
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "header"
    "instructpanel"
    "gridpanel"
    "controlpanel"
    "footer";
}
/* add a media query and redefine layout for two columns */
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
      "header	header"
      "gridpanel	instructpanel"
      "gridpanel	controlpanel"
      "footer	footer";
  }
}
.bold {
	font-weight: bold;
}
.gridpanel {
    display: grid;
    grid-template-columns: repeat(20, 31px);
    grid-template-rows: repeat(20, 30px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    list-style: none;
    padding: 0;
    background:
    repeating-linear-gradient(to right,
      transparent 0,
      transparent 0px,
      white 33px,
      green 34px 
    ),
    repeating-linear-gradient(to bottom,
      transparent 0,
      transparent 0px,
      white 32px,
      green 33px 
    );
}
.rocket {
	color: #fff;
	border-radius: 0px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom:32px;
	padding-left: 6px;
}
.rocketPosition { /* essentially {0,0} as center of grid display */
	grid-column-start: 10;
	grid-column-end: 11;
	grid-row-start: 10;
	grid-row-end: 11;
       
}
#rocketNav { /* essentially {0,0} as center of grid display */
	grid-column-start: 10;
	grid-column-end: 11;
	grid-row-start: 10;
	grid-row-end: 11;
   
}